* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
    padding: 40px;
    text-align: center;
}

.item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.234);
    border: 2px solid gray;
    text-align: center;
    width: 250px;
    padding: 10px;
    display: inline-block;
    margin: 10px;


}

.item > img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
    height: 20vw;
    object-fit:cover;
}

.item > h3 {
    font-size: 16px;
    margin: 5px 0px;
}

.item > p {
    font-size: 14px;
    color: #555;
    margin: 5px 0px;

}

.preco {
    color: black;
    font-weight: bold;
    margin: 5px 0px;
}

.item > a {
    background-color: #07abaea1;
    padding: 8px 12px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.item > a:hover {
    background-color: red;
    scale: 1.05;
}

.item>:hover {
    scale: 1.05;
}