:root{
    --cor-cabecalho-inicial: #1ab3b0;
    --cor-cabecalho-final: #00000038;
    --cor-cabecalho-body: #0402029c;
    --cor-main: #fff;
    --cor-rodape: #333;
    --cor-letras-link: #160707;
    --cor-rodade: #333;
    --cor-botao-cabecalho: #ffffff49;    
    --cor-fundo-body: #eef5d579;
}
 
